---
import Layout from "../layouts/Layout.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import { studentsData } from "../lib/data.ts";
import AlertDelete from "../components/ui/core/AlertDelete.jsx";
import TableGroupsMorning from "../components/ui/core/TableStudentMorning.jsx";
import TableGroupsAfternoon from "../components/ui/core/TableStudentAfternoon.jsx";
---

<Layout title_p="Sistema Escolar || Students" spanText="Alumnos">
  <section class="content columContent">
    <div class="content-aside">
      <div class="form-options">
        <div class="options">
          <div>
            <a href="./add_students" style="text-decoration: none;" class="btn btn-add icon">add</a>
          </div>
          <div>
            <a href="#" style="text-decoration: none;" class="btn btn-disabled icon" name="btn" type="submit"
              aria-disabled="false">code</a>
          </div>
          <div>
            <a href="#" style="text-decoration: none;" class="btn btn-disabled icon" name="btn" type="submit">print</a>
          </div>
          <a href="#" style="text-decoration: none;" class="btn btn-search-mobile icon">search</a>
          <div>
            <a href="./index.html" style="text-decoration: none;" class="btn btn-exit icon">exit_to_app</a>
          </div>
        </div>
        <div class="LottieInvert">
          <div class="containerLotttie">
            <div class="tittleLottie">
              <h2>¿Algun Estudiante que quieras Buscar?🧐</h2>
            </div>
            <div class="lottie" style="width: 200px; height: 150px; bottom:25px; position:relative; ">
              <LottieAnimation src="/LoaderStudents2.json" autoplay="visible" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="containerAcordion">
      <div class="containerworKingDay">
        <div class="dayMorning">
          <h2>Jornada de Mañana🌞</h2>
          <TableGroupsMorning client:only="react" />
        </div>
        
        <div class="dayAfternoon">
          <h2>Jornada De tarde⛅</h2>
          <TableGroupsAfternoon client:only="react" />
          </div>
      </div>
      </div>
    </div>
    <div class="contff" id="morningTable" ></div>
    <div class="contff" id="afternoonTable"></div>




    <div class="container">
      <div class="top-section">
        <h1 class="title">All Student</h1>
        <div class="button-group">
          <div class="search">
            <div class="barra">
              <input type="text" class="text-search" id="txtSearch" name="search" placeholder="Buscar..." autofocus="">
              <button id="btnSearch" class="btn-search icon" type="submit">search</button>
            </div>
          </div>
          <div class="containerFilter">
        <h1 class="titleFiltros">Filtros</h1>
            <button class="button icon buttonFilter">
                swap_vert
            </button>
          </div>
        </div>
      </div>
      <div class="table-container">
        <table class="w-full">
          <thead class="thead table-data-head">
            <tr>
              <th class="showThead">Informacion</th>
              <th class="hiddenThead">ID</th>
              <th class="hiddenThead">Teléfono</th>
              <th class="hiddenThead">Grado</th>
              <th class="hiddenThead">Clase</th>
              <th class="hiddenThead">Dirección</th>
              <th class="showThead">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {studentsData.map((item) => (
              <tr key={item.id} class="table-row">
                <td class="table-dataa">
                  <img src={item.photo} class="imgTable" />
                  <div class="contImgTable">
                    <h3>{item.name}</h3>
                    <p>{item.email}</p>
                  </div>
                </td>
                <td class="table-data">{item.studentId}</td>
                <td class="table-data">{item.phone}</td>
                <td class="table-data">{item.grade}</td>
                <td class="table-data">{item.class}</td>
                <td class="table-data">{item.address}</td>
                <td>
                  <div  class="actions-container">
                  <a>
                    <a href="/view_students" class="button buttonView icon">
                      visibility
                    </a>
                    <AlertDelete id={item.id} client:only="react"  />
                  </div>
                </a>
                </td>
              </tr>
            ))}
          </tbody>
        </table>
      </div>
    
      <div class="pagination-container">
        <button class="pagination-button" disabled>Prev</button>
        <div class="page-numbers">
          <button class="page-button active">1</button>
          <button class="page-button">2</button>
          <button class="page-button">3</button>
          ...
          <button class="page-button">10</button>
        </div>
        <button class="pagination-button">Next</button>
      </div>
    </div>
  </div>

  </section>

</Layout>



<style>
.title{
  color:#fff;
}
  .contff{
    width:100%;
    margin:0px 0px 50px 0px;
  }
  .icon{
          font-size:20px;
          color: #fff;
          text-decoration:none;
      }
      .grafic1{
          margin: 20px 0px 20px 0px;
      }
      @media only screen and (max-width: 1186px){
          .content{
              flex-flow: column;
          }
      }
 
  .card-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .containerworKingDay {
    display: flex;
    width: 67%;
    color: #eef4ff;
    border-radius: 0.4em;
  
  }
  
  .dayMorning {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--colorhr);
    flex-direction: column;
    box-shadow: var(--bacgroundContent);
    border-radius: 0.4em;
    background: var(--bacgroundContent);
    margin-right: 15px;
    transition: transform 0.3s ease;
  }
  .dayMorning:hover {
    transform: scale(1.05);
}
  .dayMorning h2 {
    text-align: center;
    font-size: 2.2em;
  }
  
  .dayMorning span {
    font-size: 2em;
  }
  
  .dayAfternoon {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: var(--bacgroundContent);
    border-radius: 0.4em;
    background: var(--bacgroundContent);
    transition: transform 0.3s ease;

  }

  .dayAfternoon:hover {
    transform: scale(1.05);
}
  
  .dayAfternoon h2 {
    text-align: center;
    font-size: 2.2em;
  }
  
  .dayAfternoon span {
    font-size: 2em;
  }
  
  @media (max-width:541px) {
    .containerworKingDay {
      flex-direction: column;
      width: 100%;
    }
  
    .dayMorning {
      border-right: 0px;
      border-bottom: 1px solid var(--colorhr);
      margin-bottom: 15px;
      margin-right: 0px;
    }
  
  }
  
  
  .containerAcordion {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
  
  @media only screen and (max-width: 1186px) {
    .content {
      flex-flow: column;
    }

  
  }
  
  .tittleLottie {
    width: 100%;
    text-align: center;
    padding: 0px 8px;
  }
  
  .containerLotttie {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.4em;
    position: relative;

  }
  
  .tittleLottie h2 {
    font-size: 1em;
    color: #fff;
  }
  
  @media only screen and (max-width: 990px) {
    .containerLotttie {
      width: 100%;
    }

  }
  

  

  
  @media only screen and (max-width: 1186px) {
    .content-aside {
      width: 60%;
    }
  }
    .content{
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  .containerworKingDay{
    margin:30px 0px;
  }
  @media only screen and (max-width: 1186px){
  .containerworKingDay{
    margin:30px 0px;
  }
  }
  


  </style>

