---
import Swal from 'sweetalert2/dist/sweetalert2.js';
import 'sweetalert2/src/sweetalert2.scss';
import Layout from "../layouts/Layout.astro";
import 'animate.css';
import TableStudents from '../components/Table_Student.astro';
import CustomPickersDay from "../components/ui/GraficAsistencia.jsx";
import TableInfoStudent from "../components/Table_Info_Student.astro";
import { infoStudent } from "../lib/data.ts";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import AnimatedComponent from "../components/ui/core/AnimationDivs.jsx";

---

<Layout title_p="Sistema Escolar || Students" spanText="Vista de Alumno" >
    <section class="content columContent">
    <div class="content-aside">
        <div class="form-options">
          <div class="options">
            <div>
              <a
                href="./add_period"
                style="text-decoration: none;"
                class="btn icon  btn-disabled">add</a
              >
            </div>
            <div>
              <a href="#" style="text-decoration: none;" class="btn btn-disabled icon" name="btn" type="submit" aria-disabled="false">code</a
              >
            </div>
            <div>
              <a href="#" style="text-decoration: none;" class="btn btn-disabled icon" name="btn"  type="submit">print</a>
            </div>
            <a
              href="#"
              style="text-decoration: none;"
              class="btn btn-search-mobile icon">search</a
            >
            <div>
              <a
                href="/students"
                style="text-decoration: none;"
                class="btn btn-exit icon">close</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="containerInfo">
        <!-- Container General -->
        <div class="sss">
          <header class="headeer">
            <div class="info-title">
              <span class="title">Informacion General</span>
              <span class="icon">
                account_circle
                </span>
            </header>
            <AnimatedComponent client:only="react" animationType="slideUp">
              <TableInfoStudent />
            </AnimatedComponent>
            </div>
            <!-- Container Notas Escolares -->
            <div class="sss width">
              <header class="headeer">
                <div class="info-title">
                  <span class="title">Notas Escolares</span>
                  <span class="icon">import_contacts</span>
                </div>
              </header>
            <AnimatedComponent client:only="react" animationType="fadeIn">
              <TableStudents />
            </AnimatedComponent>
            </div>
            <!-- Container Calendario -->
            <div class="sss">
              <header class="headeer">
                <div class="info-title">
                <span class="title sssss">Calendario de asistencia</span>
                <span class="icon">calendar_today</span>
              </div>
            </header>
            <CustomPickersDay client:only="react" />
          </div>
          <!-- Container Observaciones -->
           <div class="sss">
            <header class="headeer">
              <div class="info-title">
                <span class="title">Observaciones</span>
                <span class="icon">report</span>
              </div>
            </header>
            {infoStudent.map((item) => (
            <div class="container wF">
              {item.faults.faul === 0 ? (
                <div class="lottie-container">
                  <LottieAnimation  src="/zeroFaults.json" loop={true} autoplay={true} />
                  <p>No hay Observaciones registradas</p>
                  </div>
                  ) : (
                  <AnimatedComponent client:only="react" animationType="slideUp">
                    <h2 class="titleh2">Numero de Observaciones: <b>{item.faults.faul}</b></h2>
                    <div class="table-container table-container20">
                      <table class="w-full">
                        <tbody>
                          <tr class="table-row table-row2.0">
                            <td class="table-data title-column">{item.faults.tituloFail}</td>
                          <td  class="table-data description-column">{item.faults.descripcionFail}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    </AnimatedComponent>
                  )}
                  </div>
                  ))}
                  </div>
                </div>
              </div>
    </section>
</Layout>




<style>
@media (max-width: 768px){
  .table-data {
    display: table-cell !important;
}
}

@media only screen and (max-width: 1056px){
  .sss.width{
    min-width:auto;
  }
}

.container.wF {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.titleh2{
  color:#fff;
  font-weight:500;
}
.table-container20{
  height:100%;
}
.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.table-row2.0 {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  gap: 10px; /* Añade espacio entre las columnas */
}

.title-column {
  font-weight: bold;
}

.description-column {
  flex-grow: 1; /* Asegura que la descripción ocupe el espacio disponible */
  word-wrap: break-word;
  word-break: break-word;
}











.icon{
  color:#fff;
  font-size:1.5em;
}
.lottie-container{
  width:300px;
  height:300px;
}
.lottie-container p{
  color:#fff;
  font-weight: bold;
  font-size:1.2em;
  text-align:center;
}

.container.wF{
  display:flex;
  justify-content: center;
  align-items:center;
  width:100%;
  height:480px;
}

.sss {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media ((width > 2499px)){
  .sss {
    flex:1;
  }

}

.containerInfo{
  width: 100%;
  margin-top:30px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1186px){
  .sss {
    min-width: 300px;
    flex: 1;
}
}

    /*-------------------------------------------
  Home | Header
-------------------------------------------*/
.headeer {
    width: 100%;
    height: 50px;
    margin: 35px 0%;
    background: var(--bacgroundContent);
    box-shadow: var(--boxShadowCont);
    border-radius: 0.4em;
    user-select: none;
}

@media(max-width: 305px){

    .header{
        width: 300px !important;
    }
}


.info-title {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 100%;
}
.headeer .info-title .title {
    display: flex;
    color: #eef4ff;
    text-shadow: 0 1px 5px rgba(142,136,192,0.2);
    font-size: 1.5em;
    font-weight: 500;
    text-transform: capitalize;
}
@media (min-width: 768px){
.headeer .info-title .title {
  display: flex;
}
.title {
    padding: 0px 10px;
}
}
.headeer .info-title .title.sssss{
  margin: 2px 8px;
    height: 100%;
    text-align: center;
    align-items: center;
}

.contInfoW p{
    color:#f00;
    position:relative;
}

.containerSubjet{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    flex-direction:column;
}

@media only screen and (max-width: 1186px){
    .content {
        flex-flow: column;
    }
.containerSubjet{
    min-height: 100vh;

}
}

</style>