---
import AlertDelete from "./ui/core/AlertDelete.jsx";

const userAdministrative = [
{
    id: 1,
    rol: "Admin",
    name: "Sergio",
    phone: "1234567890",
    photo:
    "https://images.pexels.com/photos/2888150/pexels-photo-2888150.jpeg?auto=compress&cs=tinysrgb&w=1200",
  },
  {
    id: 2,
    rol: "Admin",
    name: "Sergio",
    phone: "1234567890",
    photo:
    "https://images.pexels.com/photos/2888150/pexels-photo-2888150.jpeg?auto=compress&cs=tinysrgb&w=1200",
  },
]
---


<div class="container">
  <div class="top-section">
    <h1 class="title">Todos los estudiantes</h1>
    <div class="button-group">
      <div class="search">
        <div class="barra">
          <input type="text" class="text-search" id="txtSearch" name="search" placeholder="Buscar..." autofocus="">
          <button id="btnSearch" class="btn-search icon" type="submit">search</button>
        </div>
      </div>
      <div class="containerFilter">
    <h1 class="titleFiltros">Filtros</h1>
        <button class="button icon buttonFilter">
            swap_vert
        </button>
      </div>
      <!-- <FormModal table="teacher" type="create" /> -->
    </div>
  </div>
  <div class="table-container">
    <table class="w-full">
      <thead class="thead table-data-head">
        <tr>
          <th class="">Rol</th>
          <th class="">Nombre</th>
          <th class="">Telefono</th>
          <th class="icon">visibility</th>
          <th class=" icon">edit</th>
          <th class="icon">delete</th>
        </tr>
      </thead>
      <tbody>
        {userAdministrative.map((item) => (
          <tr key={item.id} class="table-row">
            <td class="table-dataa">
              <img src={item.photo} class="imgTable" />
              <div class="contImgTable">
                <h3>{item.rol}</h3>
              </div>
            </td>
            <td class="table-data">{item.name}</td>
            <td class="table-data">{item.phone}</td>
            <td class="table-data">
                <button class="button buttonView">
                  <span class="icon">visibility</span>
                </button>
            </td>
            <td class="table-data">
                <button class="button buttonEdit">
                  <span class="icon">edit</span>
                </button>
            </td>
            <td class="table-data">
              <AlertDelete id={item.id} client:only="react"  />
            </td>
          </tr>
        ))}
      </tbody>
    </table>
  </div>

  <div class="pagination-container">
    <button class="pagination-button" disabled>Prev</button>
    <div class="page-numbers">
      <button class="page-button active">1</button>
      <button class="page-button">2</button>
      <button class="page-button">3</button>
      ...
      <button class="page-button">10</button>
    </div>
    <button class="pagination-button">Next</button>
  </div>
</div>



  <style>


@media (max-width: 768px){
  .table-data{
    display:table-cell !important;
  }
}
.table-dataa {
  align-items: flex-start;
    flex-direction: column;
    gap:0;
}
.thead tr th:nth-child(4){
  font-size: 1.2rem;
}
.thead tr th:nth-child(5){
  font-size: 1.2rem;
}
.thead tr th:nth-child(6){
  font-size: 1.2rem;
}
.container{
  margin-top:35px;
}
  </style>