---
import AlertDelete from "./ui/core/AlertDelete.jsx";
const Periods = [
  {
    id: "1",
    name: "Perido1",
    inicia : "2024-02-10",
    final : "2024-03-10",
  }
]

---

<div class="container">
    <div class="top-section">
      <h1 class="title">All Teachers</h1>
      <div class="button-group">
        <div class="search">
          <div class="barra">
            <input type="text" class="text-search" id="txtSearch" name="search" placeholder="Buscar..." autofocus="">
            <button id="btnSearch" class="btn-search icon" type="submit">search</button>
          </div>
        </div>
        <div class="containerFilter">
      <h1 class="titleFiltros">Filtros</h1>
          <button class="button icon buttonFilter">
              swap_vert
          </button>
        </div>
        <!-- <FormModal table="teacher" type="create" /> -->
      </div>
    </div>
    <div class="table-container">
      <table class="w-full">
        <thead class="thead table-data-head">
          <tr>
              <th>Nombre</th>
            <th>Inicia</th>
            <th>Finaliza</th>
            <th class="icon">edit</th>
            <th class="icon">delete</th>
          </tr>
        </thead>
        <tbody>
          {Periods.map((item) => (
            <tr key={item.id} class="table-row">
              <td class="table-dataa">
                <div class="contImgTable">
                  <h3>{item.name}</h3>
                </div>
              </td>
              <td class="table-data">{item.inicia}</td>
              <td class="table-data">{item.final}</td>
              <td class="table-data">
                <div  class="actions-container">
                <a>
                  <button class="button buttonEdit icon">
                    edit
                  </button>
                </div>
                </a>
              </td>
              <td class="table-data">
                <AlertDelete  id={item.id} client:only="react" />
              </td>
            </tr>
          ))}
        </tbody>
      </table>
    </div>
    <div class="pagination-container">
      <button class="pagination-button" disabled>Prev</button>
      <div class="page-numbers">
        <button class="page-button active">1</button>
        <button class="page-button">2</button>
        <button class="page-button">3</button>
        ...
        <button class="page-button">10</button>
      </div>
      <button class="pagination-button">Next</button>
    </div>
  </div>
  

  <style>
    .thead tr th:nth-child(4) {
    font-size: 1.2rem;
}
.thead tr th:nth-child(5) {
    font-size: 1.2rem;
}
    @media (max-width: 768px){
        .table-data{
            display:table-cell !important;
        }
    }
    .container{
    width:100%;
    margin:2.5rem 1rem;
  }
  .actions-container{
    justify-content: normal;
  }

  </style>