---
import AlertDelete from "./ui/core/AlertDelete.jsx";
import { studentsData } from "../lib/data.ts";
import GraficNoteStudent from "./ui/GraficNoteStudent.jsx";

const rows = [
    { id: "1", asignatura: "Matematica", docente: "Donaldo Bola", nota: "4.2" },
    { id: "2", asignatura: "Historia", docente: "Luis Perez", nota: "3.8" },
    { id: "3", asignatura: "Historia", docente: "sandra Perez", nota: "1.8" },
    // Agrega más filas aquí
];


const getSvgForGrade = (grade) => {
  const numericGrade = parseFloat(grade);
  if (numericGrade >= 1 && numericGrade <= 2.9) return "/img/svgGades/svg1.svg";
  if (numericGrade >= 3 && numericGrade <= 3.9) return "/img/svgGades/svg3.svg";
  if (numericGrade >= 4 && numericGrade <= 5) return "/img/svgGades/svg2.svg";
  return null; // No SVG para valores fuera de rango
};
---



  <div class="container">
    <div class="top-section">
      <h1 class="title">All Notas</h1>
      <div class="button-group">
        <div class="search">
          <div class="barra">
            <input type="text" class="text-search" id="txtSearch" name="search" placeholder="Buscar..." autofocus="">
            <button id="btnSearch" class="btn-search icon" type="submit">search</button>
          </div>
        </div>
        <div class="containerFilter">
      <h1 class="titleFiltros">Filtros</h1>
          <button class="button icon buttonFilter">
              swap_vert
          </button>
        </div>
      </div>
    </div>
    <div class="table-container">
      <table class="w-full">
        <thead class="thead table-data-head">
          <tr>
            <th class="showThead">Informacion</th>
            <th class="showThead">Docente</th>
            <th class="showThead">Nota Final</th>
            <th class="showThead">Action</th>
          </tr>
        </thead>
        <tbody>
          {rows.map((item) => (
            <tr key={item.id} class="table-row">
              <td class="table-data">{item.asignatura}</td>
              <td class="table-data">{item.docente}</td>
              <td class="table-data">
                <img src={getSvgForGrade(item.nota)} alt="Nota" width="20" height="20" class="svgNotas" alt="Icono Nota"/>
                {item.nota}
              </td>
              <td>
                <div  class="actions-container">
                <a>
                  <GraficNoteStudent  id={item.id} client:only="react" />
                </div>
              </a>
              </td>
            </tr>
          ))}
        </tbody>
      </table>
    </div>
  
    <div class="pagination-container">
      <button class="pagination-button" disabled>Prev</button>
      <div class="page-numbers">
        <button class="page-button active">1</button>
        <button class="page-button">2</button>
        <button class="page-button">3</button>
        ...
        <button class="page-button">10</button>
      </div>
      <button class="pagination-button">Next</button>
    </div>
  </div>
</div>


  <style>

    .icon{
      text-decoration:none;
    }

@media (max-width: 768px){
  .table-data {
    display: table-cell !important;
}
}

/* CHECKCED */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
	 input[type='checkbox'] {
		 --active: #275efe;
		 --active-inner: #fff;
		 --focus: 2px rgba(39, 94, 254, .3);
		 --border: #bbc1e1;
		 --border-hover: #275efe;
		 --background: #fff;
		 --disabled: #f6f8ff;
		 --disabled-inner: #e1e6f9;
		 -webkit-appearance: none;
		 -moz-appearance: none;
		 height: 15px;
		 outline: none;
		 display: inline-block;
		 vertical-align: top;
		 position: relative;
		 margin: 0;
		 cursor: pointer;
		 border: 1px solid var(--bc, var(--border));
		 background: var(--b, var(--background));
		 transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
	}
	 input[type='checkbox']:after {
		 content: '';
		 display: block;
		 left: 0;
		 top: 0;
		 position: absolute;
		 transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
	}
	 input[type='checkbox']:checked {
		 --b: var(--active);
		 --bc: var(--active);
		 --d-o: 0.3s;
		 --d-t: 0.6s;
		 --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
	}
	 input[type='checkbox']:disabled {
		 --b: var(--disabled);
		 cursor: not-allowed;
		 opacity: 0.9;
	}
	 input[type='checkbox']:disabled:checked {
		 --b: var(--disabled-inner);
		 --bc: var(--border);
	}
	 input[type='checkbox']:disabled {
		 cursor: not-allowed;
	}
	 input[type='checkbox']:hover{
		 --bc: var(--border-hover);
	}
	 input[type='checkbox']:focus {
		 box-shadow: 0 0 0 var(--focus);
	}
	 input[type='checkbox']:not(.switch), input[type='radio']:not(.switch) {
		 width: 15px;
     margin-right: 3px;
	}
	 input[type='checkbox']:after{
		 opacity: var(--o, 0);
	}
	 input[type='checkbox']:checked {
		 --o: 1;
	}
	 input[type='checkbox'] {
		 font-size: 14px;
		 line-height: 21px;
		 display: inline-block;
		 vertical-align: top;
		 cursor: pointer;
	}
	 input[type='checkbox'] {
		 border-radius: 7px;
	}
	 input[type='checkbox']:after {
		 width: 4px;
		 height: 8px;
		 border: 2px solid var(--active-inner);
		 border-top: 0;
		 border-left: 0;
		 left: 4px;
		 top: 0px;
		 transform: rotate(var(--r, 20deg));
	}
	 input[type='checkbox']:checked {
		 --r: 43deg;
	}
	 input[type='checkbox'].switch {
		 width: 38px;
		 border-radius: 11px;
	}
	

	 input[type='radio'] {
		 border-radius: 50%;
	}
	 input[type='radio']:after {
		 width: 19px;
		 height: 19px;
		 border-radius: 50%;
		 background: var(--active-inner);
		 opacity: 0;
		 transform: scale(var(--s, 0.7));
	}
	 input[type='radio']:checked {
		 --s: 0.5;
	}

}
.checkPadding{
  padding:8px 5px !important;
}
.selected-row {
  background-color:#b0c2e0; /* Color de la fila seleccionada */
}

.selected-row td {
  color:#060606 !important;
  background-color: transparent !important; /* Quitar el fondo de los td cuando se selecciona la fila */
}
.svgNotas{
    top: 4px;
    position: relative;
    pointer-events:none;
}

a.btnview {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: 20px;
    background: #569188;
    box-shadow: 0 1px 6px rgba(63,105,146,0.2);
    border: none;
    border-radius: 2em;
    color: #eef4ff;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}


    
/*-------------------------------------------
  Formulario | GridView
-------------------------------------------*/


@media only screen and (max-width: 990px){
  .form-gridview{
    overflow-x: hidden !important;
  }
}

.form-gridview {
    float: left;
    margin: 0 0 35px 0;
    width: 71%;
    background: var(--bacgroundContent);
    box-shadow: var(--boxShadowCont);
    border-radius: 0.4em;
}

.form-gridview img.data-not-found,
.form-data img.data-not-found {
    overflow-x: hidden;
    display: block;
    width: 80%;
    margin: 2% auto 5%;
    pointer-events: none;
    user-select: none;
}

.form-gridview table.default,
.form-gridview table.users {
    width: 91%;
    margin: 4.5% auto 0;
    box-shadow: 0 1px 6px rgba(142, 136, 192, 0.2);
    border-collapse: collapse;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    overflow: hidden;
}

.form-gridview th {
    padding: 7px 15px;
    background: #282a36;
    color: #eef4ff;
    text-shadow: 0 1px 5px rgba(142, 136, 192, 0.2);
    border: none;
    text-align: left;
    font-size: 0.9em;
    font-weight: 500;
    text-transform: normal;
}

.form-gridview th.center {
    text-align: center;
}

.form-gridview th a.icon {
    color: #eef4ff;
    font-size: 1.2em;
    text-decoration: none;
}

.form-gridview td {
    padding: 8px 15px;
    background: #eef4ff;
    color: #4a567c;
    text-shadow: 0 1px 5px rgba(142, 136, 192, 0.2);
    border-bottom: solid #6273a495 1px;
    font-size: 0.9em;
    font-weight: 500;
    text-align: left;
    transition: all 300ms ease-out;
}

.form-gridview td.tdbreak {
    word-break: break-all;
}

.form-gridview td.tdbreakw {
    word-break: break-word;
}

.form-gridview td.center {
    text-align: center;
}

.form-gridview td button.btnview {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: 20px;
    background: #569188;
    box-shadow: 0 1px 6px rgba(91, 133, 127, 0.2);
    border: none;
    border-radius: 2em;
    color: #eef4ff;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-gridview td button.btnview:hover,
.form-gridview td button.btnview:focus {
    background: #456661;
    border: 4px solid #6daaa3;
    transition: all 200ms ease-in;
}

.form-gridview td button.btnview:active {
    background: #569188;
    transition: all 200ms ease-in;
}

.form-gridview td button.btnedit {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: 20px;
    background: #3f6992;
    box-shadow: 0 1px 6px rgba(63, 105, 146, 0.2);
    border: none;
    border-radius: 2em;
    color: #eef4ff;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-gridview td button.btnedit:hover,
.form-gridview td button.btnedit:focus {
    background: #2a4866;
    border: 4px solid #7eb2e2;
    transition: all 200ms ease-in;
}

.form-gridview td button.btnedit:active {
    background: #3f6992;
    transition: all 200ms ease-in;
}

.form-gridview td button.btndelete {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: 20px;
    background: #db4949;
    box-shadow: 0 1px 6px rgba(219, 73, 73, 0.2);
    border: none;
    border-radius: 2em;
    color: #eef4ff;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-gridview td button.btndelete:hover,
.form-gridview td button.btndelete:focus {
    background: #aa3535;
    border: 4px solid #e77f7f;
    transition: all 200ms ease-in;
}

.form-gridview td button.btndelete:active {
    background: #db4949;
    transition: all 200ms ease-in;
}

.form-gridview tr:hover td {
    background: #dde8fc;
    transition: all 200ms ease-in;
}


.pages {
    display: block;
    text-align: center;
    margin: 2.8% 0 2.8% 3.8%;
    user-select: none;
}

.pages:after {
    display: block;
    content: "";
    clear: both;
}

.pages ul li {
    list-style: none;
}

.pages ul li button {
    margin: 0 10px 0 0;
    width: 5%;
    height: 22px;
    background: #7e8aac;
    box-shadow: 0 1px 6px rgba(142, 136, 192, 0.2);
    border: none;
    border-radius: 0.6em;
    color: #eef4ff;
    line-height: 23px;
    font-size: 0.625em;
    font-weight: 600;
    transition: all 300ms ease-out;
}

.pages ul li button:hover,
.pages ul li button:focus {
    background: #4c597e;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.pages ul li.active button {
    background: #6272a4;
}

.pages ul li.active button:hover,
.pages ul li.active button:focus {
    background: #7e8aac;
    cursor: pointer;
    transition: all 200ms ease-in;
}
  </style>
